.link {
  font-size: 16px;
  line-height: 20px;
}

#github {
  color: #f5e0dc
}

#twitch {
  color: #f5c2e7	
}

#yt {
  color: #eba0ac
}

#reddit {
    color: #fab387	
}

#src {
  color: #f9e2af
}

#spreadsheet {
  color: #a6e3a1
}

#twt {
  color: #94e2d5
}

#twtbot {
  color: #89dceb
}

#mastodon {
  color: #74c7ec
}

#bsky {
  color: #89b4fa
}

a:visited {
  text-decoration: none
}

a:link {
  text-decoration: none
}

a:link:hover {
  text-decoration: underline
}

a {
  color: inherit;
}