@font-face {
  font-family: "Miracode";
  src: url('/assets/miracode-webfont.woff2') format('woff2'),
  url('/assets/miracode-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  cursor: url("../assets/page_cursor.png"), auto;
}

body {
    font-family: "Miracode", Verdana, sans-serif;
    color: #cdd6f4;
    background: #1e1e2e url("/assets/catp_bg.png");
    animation: moveBackground 100s linear infinite;
}

.box {
  border: 2px dashed #6c7086;
  background-color: #1e1e2e;
  text-align: center;
  max-width: 400px;
  min-height: 200px;
  padding: 20px;
  margin: auto;
}

li {
  color: rgb(0,0,0,0)
}

#everything {
  display: grid;
  justify-content: center;
  gap: 10px;
  height: auto;
}

#links {
  grid-column: 1;
}

#maintext {
  grid-column: 2;
}

#nowplaying {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#random, #random_warning {
  color: #6c7086;
  padding-top: 5px;
}

#discord {
  font-size: 16px;
  color: #cba6f7
}

#some {
  color: #f5c2e7;
  font-size: 20px;
}

.likings {
  color: #f5e0dc;
}

.title {
  font-size: 36px;
}

hr {
  border-color: #6c7086
}

span {
  flex-direction: row;
}

@media screen and (max-width: 1360px) {
  #everything {
    transform: translateY(10%);
  }
}

@media screen and (max-width: 910px) {
  #everything {
    display: flex;
    flex-direction: column;
    transform: translateY(0%);
  }
}