---
title: yayyy
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <meta property="description" content="benjae's page!!!">
    <meta property="og:url" content="https://benjae.nekoweb.org">
    <meta property="og:type" content="website">
    <meta property="og:title" content="benjae">
</head>
    <body>
        <!-- feel free to steal anything (it's probably stolen too!)-->
        <div id="container">
            <div id="main" style="overflow-y: scroll; line-height: 2em; height: 600px; text-align: center;">
                <p><a href="/blog/">go back!!!</a></p>
                {{ content | safe }}
            </div>
        </div>
    </body>
</html>