body, html {
    font-family: Comic Sans MS;
    color: #cdd6f4;

    /* flan.png */
    height: 100%;
    background-image: url("flan.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.flancredits{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 20px;
    color: #1e1e2e;
    -webkit-text-stroke: 1px #cdd6f4;
}

