body, html {
    font-family: 'Roboto';
    font-weight: Bold;
    color: #cdd6f4;

    /* background.png */
    height: 100%;
    background-image: url("evening-sky.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

a:link {color: #a6e3a1}
a:visited {color: #a6e3a1}
a:hover {color: #a6e3a1}
a:active {color: #a6e3a1}

.links-button {
    position: absolute;
    bottom: 0px;
    left: 16px;
    font-size: 18px;
    text-decoration: none;
}