---
import HTMLayout from '../../layouts/HTMLayout.astro'
const allPosts = await Astro.glob('./posts/**/*.md');

allPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);

---
<HTMLayout pageTitle="benjae's Blog attempt!!">
  <p>the place where i try to say things more than 3 lines long</p>
  <ul>
    {allPosts.map((blog) => (
      <li>
        <a href={blog.url}>{blog.frontmatter.title}</a> ({new Date(blog.frontmatter.pubDate).toLocaleDateString('es-CL', {timeZone: 'UTC'})})
      </li>
    ))}
  </ul>
</HTMLayout>