@import url("/css/catppuccin.css");

@font-face {
    font-family: "Comic neue";
    src:
        url("/assets/fonts/ComicNeue-Regular.ttf")
}

@keyframes background {
    from {
        background-position: -1920px -1080px;
    } to {
        background-color: 1920px 1080px;
    }
}

body {
    margin: 0;
    background-image: url("/assets/bg.png");
    background-repeat: repeat;
    animation: background 120s linear infinite;
    color: var(--text);
    font-family: "Comic Neue", sans-serif;
    height: 100%;
    width: 100%;
}

li {
    text-align: left;
}

a {
    text-decoration: underline;
    color: var(--blue)
}
.subtitle {
    color: var(--subtext0);
    font-size: 0.75em;
}

.spoiler {
    background-color: var(--subtext0);
    color: var(--subtext0);
}
.spoiler:hover {
    background-color: #00000000;
}

.division {
    background-color: var(--surface0);
    border-radius: 3%;
    padding: 1%;
    margin: 0
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.break {
    flex-basis: 100%;
    width: 0;
}

#container {
    gap: 30px;
    min-height: 90vh;
    max-width: 50vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1%;
    background-color: var(--base);
    border-radius: 3%;
    width: 90%;
    border: var(--surface0) dotted
}