@import url('colorscheme.css');

@keyframes background {
	from {
		background-position: -1024px -1024px
	} to {
		background-position: 0 0
	}
}

body {
	color: var(--text);
	background-color: var(--base);
	background-attachment: fixed;
	font-family: 'Atkinson Hyperlegible Next', sans-serif;
	animation: background 25s infinite linear;
}

ul {
	margin-left: -1em;
}

li {
	margin-bottom: 0.5em;
}

small {
	font-size: 0.75em;
	font-weight: normal;
	color: var(--subtext0)
}

textarea {
	border-color: var(--crest);
	background-color: var(--base);
	color: var(--text);
	width: 100%;
}

summary {
	margin-bottom: 1em;
}

.section {
	background-color: var(--mantle);
	border: 4px var(--lavender) solid;
	padding-left: 1em;
	padding-bottom: 1em;
	max-width: 50em;
	margin: auto;
	margin-bottom: 2em;
	padding-right: 2em;
}

.section:target {
	border-color: var(--peach)
}

a:visited {
	color: var(--mauve);
}

a:link {
	color: var(--blue);
}

@media (prefers-reduced-motion: reduce) {
	body {
		animation-play-state: paused
	}
	summary::after {
		content: " (possible motion)"
	}
}
