@import url('./colorscheme.css');
@import url('./fonts.css');

body {
	background-color: var(--base);
	font-family: 'Atkinson Hyperlegible Next';
	font-size: 1em;
	color: var(--text);
	text-align: left;
	padding: 1em;
}

table {
	background-color: var(--crust);
	border-collapse: collapse;
	overflow-y: scroll;
}

small {
	color: var(--subtext0);
}

code {
	background-color: var(--crust);
	font-family: monospace;
}

a {
	text-decoration: underline;
	color: var(--sapphire)
}

a:visited {
	color: var(--blue)
}

input[type="button"] {
	background-color: var(--crust);
	color: var(--text);
	border: none;
	font-size: 1em;
	margin-top: 1em;
}

input[type="button"]:hover {
	background-color: var(--surface0);
}

input[type="button"]:active {
	background-color: var(--text);
	color: var(--crust)
}
