@import url('./colors.css');
@import url('./fonts.css');

body {
	background-color: var(--base); 
	background-repeat: repeat;
	background-size: 256px;
	color: var(--text);
	font-family: 'Atkinson Hyperlegible Next';
	font-size: 1em;
	text-align: left;
	padding-left: 1em;
	margin-top: 1em;
}

table {
	background-color: var(--crust);
	border-collapse: collapse;
}

td, th {
	border: var(--overlay0) 2px solid;
	padding: 0.25em
}

small {
	color: var(--subtext0);
}

code {
	background-color: var(--crust);
	font-family: monospace;
}

a {
	text-decoration: underline;
	color: var(--sapphire)
}

a:visited {
	color: var(--blue)
}

hr {
	color: var(--subtext0)
}
