@import url('/css/main.css');

#main {
  grid-template-rows: 200px 200px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  overflow-y: scroll
}

#dir {
  grid-area: 1 / 1 / 2 / 2;
  line-height: 1.5em;
  text-align: left;
}

#socials {
  grid-area: 2 / 2 / 3 / 3;
  line-height: 1.5em;
}

#welcome {
  grid-area: 1 / 2 / 2 / 3;
}

#buttondiv {
  max-height: 82px;
  max-width: 396px;

  display: grid;
  grid-template-columns: 658px; /* replace here */
  grid-template-rows: repeat(2, 31px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  
  overflow-y: hidden;
}

#updates {
  grid-area: 2 / 1 / 3 / 2;
}

#updates > p:nth-of-type(2n) {
  background-color: var(--surface0);
}

#updates > p {
  background-color: var(--base);
}

#buttons_top {
  grid-area: 1 / 1 / 2 / 2
}

#buttons_bottom {
  grid-area: 2 / 1 / 3 / 2
}