@import url('/css/main.css');

#main {
  grid-template-rows: 150px 250px;
  grid-column-gap: 6px;
  grid-row-gap: 6px; 
}

#socials {
  grid-area: 2 / 2 / 3 / 3;
  line-height: 1.5em;
}

#welcome {
  grid-area: 1 / 2 / 2 / 3;
}

#buttondiv {
  height: 49px;
}