:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

@font-face {
    font-family: "Comic neue";
    src:
        url("/assets/fonts/ComicNeue-Regular.ttf")
}

@keyframes background {
    from {
        background-position: -1920px -1080px;
    } to {
        background-color: 1920px 1080px;
    }
}

body {
    margin: 0;
    background-image: url("/assets/bg.png");
    background-repeat: repeat;
    animation: background 120s linear infinite;
    color: var(--text);
    font-family: "Comic Neue", sans-serif;
    height: 100%;
    width: 100%;
}

li {
    text-align: left;
}

a {
    text-decoration: underline;
    color: var(--blue)
}

code {
    background-color: var(--surface1);
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

#container {
    gap: 30px;
    min-height: 90vh;
    max-width: 30vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#main {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: var(--base);
    border-radius: 3%;
    width: 90%;
    border: var(--surface0) dotted
}