---
// Shamelessly stolen from https://docs.astro.build/en/guides/content-collections/#generating-routes-from-content
import { getCollection, render } from 'astro:content';
import Layout from '@layouts/HTMLLayout.astro';
export async function getStaticPaths() {
  const posts = await getCollection('writings');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---
<Layout title={post.data.title} description={post.data.description}>
<div class="section" id="main">
<h1>{post.data.title} <small style="float: right; font-size: 0.5em;"><a href="/writings">Go back!</a></small></h1>
<Content />
</div>
</Layout>
