html {
    background-color: #1e1e2e;
    color: #cdd6f4;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "MS UI Gothic";
}

.box {
    border: #cdd6f4 dotted;
    padding: 10px;
}

.subtitle {
    font-size: 12px;
}

hr {
    color: #6c7086
}

a:link, a:visited {
    text-decoration: none;
    background-color: #1e1e2e;
    color: #89b4fa;
    display: inline-block;
}

a:hover {
    background-color: #89b4fa;
    color: #1e1e2e;
    text-decoration: underline;
}

p::before {
    content: "• "
}