---
import { Image } from 'astro:assets';
interface Props {
  image: string
  href?: string
  alt: string
}

const { image, href, alt, ...props } = Astro.props
---
<a href={href} {...props}>
  <Image src={image} alt={alt} width=88 height=31 title={alt} loading="eager"/>
</a>
<style>
  
</style>