---
import { Image } from 'astro:assets';
interface Props {
  image: string
  alt: string
}

const { image, alt, ...props } = Astro.props
---
<a target="_blank" {...props}>
  <Image src={image} alt={alt} width=88 height=31 title={alt} loading="eager"/>
</a>
<style>
  a {
    text-decoration: dotted;
  } img {
    image-rendering: pixelated;
		border: 2px solid var(--overlay0);
		width: 88px;
		height: 31px;
  }
</style>
