<meow-mrrp id="button" role="group" aria-label="Click here!">
	<label id="b"><input type="radio" id="buttonsquared" name="clickme"></label>
	<label id="thanks"><input type="radio" value="Hide" name="clickme" checked></label>
</meow-mrrp>

<style>
	label {
		padding-left: 3px;
		padding-right: 85px;
		padding-top: 10px;
		margin-bottom: 2px;
		min-height: 31px;
		background-image: url('/assets/buttons/misc/clickhere_red.gif');
		image-rendering: pixelated;
		margin-right: 2px;
		margin-left: 2px;
		position: relative;
		bottom: 7px;
		right: 2px;
		border: 2px solid var(--overlay0);
	}
	#b {
		background-image: url('/assets/buttons/misc/clickhere_red.gif');
	}
	#thanks {
		background-image: url('/assets/buttons/misc/thanks_red.gif');
	}
	input {
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
	label:has(input:checked) {
		display: none;
	}
</style>
