<div style="display: flex; flex-direction: row">
	<p>
		<a href="https://fediring.net/previous?host=sillydomain.name">← Prev</a>
		<a href="https://fediring.net/"> Fediring </a>
		<a href="https://fediring.net/next?host=sillydomain.name">Next →</a>
	</p>
</div>
