<div style="display: flex; flex-direction: row">
	<p>
		<a href="https://fediring.net/previous?host=sillydomain.name"><img src="/assets/arrow-left.png" alt="A left arrow"></img></a>
		<a href="https://fediring.net/"><img src="/assets/fediring.png" alt="Fediring"></img></a>
		<a href="https://fediring.net/next?host=sillydomain.name"><img src="/assets/arrow-right.png" alt="A right arrow"></img></a>
	</p>
</div>
