---

---
<div>
	<nav>
	  <a href="/">Home</a>
	  <a href="/social">Social stuff</a>
	  <a href="/things">Things i like</a>
	  <a href="/webrings">Webrings</a>
	  <a href="https://benjae.atabook.org">Guestbook</a>
	</nav>
	<label>
		<input type="checkbox" id="light"> Force light
	</label>
</div>

<style>
  div {
    background-color: var(--mantle);
	display: flex;
	max-width: 92dvw;
	justify-content: space-between;
	padding: 0.5em;
  }

  nav>a {
	  padding: 0.5em;
  }
</style>
