---

---
<div>
	<nav>
	  <a href="/">Home</a>
	  <a href="/about">About</a>
	  <a href="/things">Things i like</a>
	  <a href="/webrings">Webrings</a>
	  <a href="https://benjae.atabook.org">Guestbook</a>
	</nav>
</div>

<style>
  div {
    background-color: var(--mantle);
		display: flex;
		justify-content: space-between;
		padding: 0.5em;
  }

  nav>a {
	  padding: 0.5em;
  }
</style>
