<nav>
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
  <a href="https://benjae.atabook.org">Guestbook</a>
</nav>
<style>
  nav {
    padding: 0.5em 0;
    background-color: var(--base);
    border: 2px solid var(--lavender);
    border-top: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
</style>
