---

---
<nav>
  <a href="/">Home</a>
  <a href="/where">Find me</a>
  <a href="/blog">"Blog" (dead)</a>
  <a href="/webrings">Webrings</a>
  <a href="/idc">Things about the site</a>
  <a href="https://benjae.atabook.org">Guestbook</a>
</nav>

<style>
  nav {
    background-color: var(--mantle);
	display: flex;
	gap: 1em;
	min-width: 700px;
  }
  nav>a {
	  padding: 0.5em;
  }
</style>
