---
import { Image } from 'astro:assets';
import Niko from '../assets/niko.jpg';
---

<table id=niko>
	<th> <Image src={Niko} width=128 alt="Niko from oneshot, a human-adjacent being with blue hair and scarf with glowing yellow eyes and a brown (fill this later), fitting in a green tall hat" /></th>
	<div id=meow>
		<th>	
		<p>I'm benjae, one of those guys on the internet you find sometimes, i prefer <a href="https://pronouns.cc/@benjae">he/him</a></p>
		<p>this niko at the left is me (real! fact checked by multiple friends) (<a href="https://bsky.app/profile/argoncrystal.bsky.social/post/3ltxbfyagik2d">art by argoncrystal</a>)</p>
</table>

<br>
<br>
<br>

<style>
	table, th, td {
		background-color: var(--base);
		border: none;
		margin-bottom: -3em;
		font-weight: normal;
	}
</style>
