---

---
<div id="ntfy-div">
  <h2><a href="https://plasmatrap.com/notes/a0yi5s2h8h">Send me something!!</a> <a href="https://ntfy.plasmatrap.com/benjae">(ntfy)</a></h2>
  <input type="text" id="ntfy-input">
  <button id="ntfy-send">Send</button>

  <noscript><style type="text/css">#ntfy-div { display: none; }</style></noscript>
</div>

<style>
  input {
    background-color: var(--base);
    border: var(--text) 2px dotted;
    color: var(--text);
    font-family: monospace;
  }

  button {
    background-color: var(--base);
    border: var(--text) 2px solid;
    color: var(--text);
  }
</style>

<script>
  document.getElementById("ntfy-send").onclick = function() {
    let input = document.getElementById("ntfy-input")

    if(input.value != "") {
      fetch("https://ntfy.plasmatrap.com/benjae", {
        method: "POST",
        body: input.value
      });

      input.value = "";
    }
  }
</script>