	<div
		id="list"
		style="display: flex; flex-direction: row; flex-wrap: wrap; margin: 0">
		<div id="touhou-ring">
			<script
				is:inline
				type="text/javascript"
				src="https://glassplanet.neocities.org/webring/touhou/onionring-variables.js"></script>
			<script
				is:inline
				type="text/javascript"
				src="https://glassplanet.neocities.org/webring/touhou/widget/widget-pcb1.js"></script>
		</div>
	</div>
