---
import { Image } from 'astro:assets';
import pfp from '../images/yuuka-pfp.png';
---
<div id="pfp">
  <Image src={pfp} alt="a cropped image of yuuka kazami from touhou project holding her white umbrella on a white background, she's a green-haired girl that has a petal in her hair" title="a cropped image of yuuka kazami from touhou project holding her white umbrella on a white background, she's a green-haired girl that has a petal in her hair" height="128" width="128" />
  <br>
  <small>have a yuuka!! (my current pfp in most places, here's the <a href="https://x.com/bsbsbszm/status/1097849274203697153">twitter source</a> and the <a href="https://www.pixiv.net/en/artworks/73277795">pixiv source</a><br>if i forget to change it here you can also check <a href="https://plasmatrap.com/notes/a1f0srcg7o">here (also applies to seasonal changes)</a></small>
</div>

<style>
  #pfp {
    padding-left: 1.5em;
  }
</style>