---
const { pageTitle, pageDescription } = Astro.props;
import '../styles/global.css';
import Header from '../components/Header.astro'
---

<html lang="en">
  <head>
    <link href="https://booping.synth.download/@benjae" rel="me">
	<meta name="fediverse:creator" content="benjae@booping.synth.download" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <body>
	  <Header />
		<div id="contents">
	  	<slot />
		</div>
  </body>

  <style>

  </style>
</html>
